[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
